//Fonts
// @font-face {
//   font-family: "Lato-Regular";
//   src: url(fonts/Lato-Regular.woff2);
// }

//Reset
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

//Responsive
@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 348px) {
    @content;
  }
}

//Variables
$color-dark-blue: #091F5B;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffc107;
$color-gray: #8d99ae;

header {
  background-color: #091F5B !important;
  padding: 16px 50px;
  justify-content: space-between;

  .link-secondary {
    color: $color-yellow;

    &:hover {
      color: $color-yellow;
      text-decoration: underline;
    }
  }

  .text-white {
    &:hover {
      text-decoration: underline;
    }
  }
}

//Ilija edits here
// .ilija-sports {}

//Marija edits here




.marija-sports {
  background-image: url(../images/basketball-equipment\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .size {
    font-size: smaller;
  }


  p {
    color: #ffc107 !important;
    text-decoration: wavy;
  }

}


//Bojan edits here
// .bojan-sports {}

//Angela edits here 
// .angela-sports {}

//Todor edits here
// .todor-sports {}

//Elena edits here

footer {
  background-color: #091F5B !important;

  .row {
    justify-content: center;

    .fs-5 {
      color: white;
      font-weight: bold;
    }

    .list-unstyled {
      padding-bottom: 20px;

      .mb-2 {
        color: #b6b2b2;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }

      .mb-1 {
        font-weight: bold;
      }
    }

    .col-6 {
      margin-right: 30px;

      h5 {
        color: white;
        text-decoration: none;

        &:hover {
          color: $color-yellow;
          cursor: pointer;
        }
      }

      .newsLetter {
        color: white;
      }
    }
  }
}